.App {
  text-align: center;
  background-color: #f1f1f1;
}



.flex-container {
  display: flex;
  background-color: #ffffff; 
  margin: 1.0rem;
  border-radius: 0.3rem;
  flex-direction: column;
  border: 2px solid silver;
  overflow: hidden;
}


.flex-container > div {
  color: #4e4b4b;
  text-align: left;
}
